# dependencies
/vendor/
/public/*/
config/packages/
composer.lock

# environment-specific files
.env
/.env.*.local
/.env.*.local.php
/.env.local
/.env.local.php
/.env.php
/.env.test
/.env.test.local
/.env.test.local.php

# runtime files
/var/
/var/*/
/var/cache/
/var/cache/*/
/var/log/
/var/log/*/
/var/sessions/
/var/sessions/*/
/var/tests/
/var/tests/*/
/.idea/

# build files
/.phpunit.result.cache
/.phpunit.result.cache.html
/.phpunit.result.cache.serialized
/.phpunit.result.cache.xml
/.phpunit.result.cache.tap
/composer.lock
/phpunit.xml
/symfony.lock
/webpack.config.js
/webpack.config.js.map
/webpack.config.prod.js
/webpack.config.prod.js.map

###> lexik/jwt-authentication-bundle ###
/config/jwt/private.pem
/config/jwt/public.pem
###< lexik/jwt-authentication-bundle ###
